<form [formGroup]= "productForm"  (ngSubmit)="updateProduct()">
<h1>Cập nhật sản phẩm</h1>
<table>
  <tr>
    <td>Mã sản phẩm:</td>
    <td><input type="number" formControlName="id"></td>
  </tr>
  <tr>
    <td>Tên sản phẩm:</td>
    <td><input type="text" formControlName="name"></td>
  </tr>
  <tr>
    <td>Giá sản phẩm</td>
    <td><input type="number" formControlName="price"></td>
  </tr>
  <tr>
    <td>Mô tả về sản phẩm</td>
    <td><input type="text" formControlName="description"></td>
  </tr>
  <tr>
    <td>Category</td>
    <td>
      <select formControlName="category" [compareWith]="compareFn">
        <option *ngFor="let c of categorys" [ngValue]="c">{{c.name}}</option>
      </select>
    </td>
  </tr>
  <tr>

    <td><button mat-dialog-close="" type="submit">Cập nhật</button></td>
    <td><button mat-dialog-close="">Cancel</button></td>
  </tr>

  <!--    <tr>-->
  <!--      <td></td>-->
  <!--      <td><button type="button" (click)="dialogRef.close(false)">Cancel</button></td>-->
  <!--    </tr>-->
</table>
</form>


