<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<h3>Add Product</h3>
<p>
    <a th:href="@{/}">
        Back to list product
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${product}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>NameProduct</label>
            <input type="text" th:field="*{nameProduct}">
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}">
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}">
        </div>
        <input type="submit" value="Save">

    </form>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>