<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div id="form">
    <form th:action="@{/update}" method="post" th:object="${product}" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>NameProduct</label>
            <input type="text" th:field="*{nameProduct}">
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}">
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}">
        </div>
        <input type="submit" value="update">

    </form>

</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>