<div class="container text-center">
  <h1>Danh sách sản phẩm</h1>
  <a routerLink="/product/create">Tạo mới sản phẩm</a>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (change)="search()" autocomplete="off" placeholder="searching by name ">

    </div>
    <table class="table table-striped">
      <tr>
        <td>STT</td>
        <td>Tên</td>
        <td>Giá</td>
        <td>Mô tả</td>
        <td>Category</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
<!--      <tr *ngFor="let product of products | filter:searchText| paginate : config; index as i ">-->
      <tr *ngFor="let product of products  index as i ">
        <td>{{i + 1}}</td>
        <td><a [routerLink]="['/product/detail',product.id]">{{product.name}}</a></td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category.name}}</td>
        <td><a [routerLink]="['/product/edit',product.id]">edit</a></td>
<!--        <td><a [routerLink]="['/product/delete',product.id]">delete</a></td>-->
<!--        <td><a  (click)="onEditHandler(product)">Edit</a></td>-->
        <td><a  (click)="onDeleteHandler(product.id)">Delete</a></td>
      </tr>
    </table>
<!--    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>-->
  </div>
</div>
