<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<h1>Edit category</h1>
<p>
    <a href="/category">Category list</a>
</p>

<form th:action="@{/delete-category}" th:object="${category}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="delete category"></td>
        </tr>
    </table>
</form>
</body>
</html>