<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p th:text="#{create.title}"></p>
<p>
    <a href="/customers" th:text="#{create.heading}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

Language: <a href="?lang=en">English</a> | <a href="?lang=vi">VietNam</a>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{create.firstname}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.lastname}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.email}"></td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td th:text="#{create.province}"></td>
            <td>
                <select th:field="*{province}">
                    <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.value}"></td>
        </tr>
    </table>
</form>
</body>
</html>