<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day" alt="Picture of the day">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=j8CdLx6L2O2c55hbMgL0Q5lGKU4VcyWYhhjE4VBZ';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
<form action="" method="post">
    <select name="mark" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <p>Author:</p>
    <input type="text" name="author">
    <p>Feedback:</p>
    <input type="textarea" name="feedback">
    <br>

    <form action="" method="post">
        <input type="submit" value="comment">
        <br>
        <input type="text" value="">

    </form>
    <br>
    <input type="submit" value="save">

</form>



</body>
</html>