<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form User</h1>
<form th:action="@{/user-create}" th:object="${userDto}" method="post">
<div>
    <label>FirstName</label>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    <input type="text" name="firstName" th:field="*{firstName}">
</div>
    <div>
        <label>LastName</label>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        <input type="text" name="lastName" th:field="*{lastName}">
    </div>
    <div>
        <label>phoneNumber</label>
        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
        <input type="text" name="phoneNumber" th:field="*{phoneNumber}">
    </div>
    <div>
        <label>Age</label>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
        <input type="text" name="age" th:field="*{age}">
    </div>
    <div>
        <label>Email</label>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <input type="text" name="email" th:field="*{email}">
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>