<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Is Admin</th>
    </tr>
    <tr th:each="user :${listUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.address}"></td>
        <td th:if="${user.role}==1">Yes</td>
        <td th:unless="${user.role}==1">No</td>
    </tr>
</table>
</body>
</html>