<div class="container text-center">
  <h1>Danh sách sản phẩm</h1>
  <a routerLink="/product/create">Tạo mới sản phẩm</a>
</div>
<div class="container">
  <div class="row">
    <div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="searching for a products by id or name or country">
    </div>
    <table class="table table-striped">
      <tr>
        <td>STT</td>
        <td>Tên</td>
        <td>Giá</td>
        <td>Mô tả</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor="let product of products | paginate : config| filter:searchText; index as i ">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><a [routerLink]="['/product/edit',product.id]">edit</a></td>
        <td><a [routerLink]="['/product/delete',product.id]">delete</a></td>
      </tr>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>
